.footer{
    background-color: #e7edfae8;
    padding-top: 3rem ;
}

.footerContent{
    margin: 0 auto;
    max-width: 1300px;
    padding: 1rem .5rem;
    
}

.footerBoxes{
    display: grid;
    gap: 250px;
    padding: 1rem 0;
    grid-template-columns: 1fr 1fr;
}

.box > div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.box > div img:first-child{
    margin-right: .5rem;
    margin-bottom: .2rem;
}

.box p{
    color: #475569;
    font-size: 14px;
}

.links ul {
    margin-top: 1.5rem;
    display: inline-flex;
    list-style-type: none;
}

.links ul li a {
    color: #475569;
    font-size: 14px;
    margin-right: 30px;
    font-weight: 550;
    text-wrap: nowrap;
    text-decoration: none;
}

.box1 p:first-child{
    font-size: 16px;
    font-weight: 550;
    margin-bottom: .5rem;
    color: #373737;
}

.box1 p:last-child{
    font-size: 14px;
    color: #373737;
}

.subscription {
    margin: 1.5rem 0;
    width: 100%;
    display: flex;
}

.subscription input::placeholder{
    color: #373737;
}

.subscription input{
    height: 44px;
    width: 100%;
    border-radius: 5px;
    color: #373737;
    outline: none;
    padding: 0 .5rem;
    background-color: #fff;
    border: 1px solid #37373738;
}

.subscription button{
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    min-width: 120px;
    border-radius: 5px;
    margin-left: 1rem;
    background-color: #5044E5;
}

.secondFooter {
    display: flex;
    padding-top: 1rem;
    border-top: 2px solid #7A7A7A;
    justify-content: space-between;
}

.secondFooter span{
    color: #7A7A7A;
    font-size: 15px;
}

.socialIcons{
    display: flex;
}

@media screen and (max-width:992px) {
    .footerBoxes{
        gap: 30px;
    }   
}
@media screen and (max-width:764px) {
    .footerBoxes{
        grid-template-columns: 1fr;
    }   
}




