.header{
    padding: 1.5rem .5rem;
    max-width:1300px;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.companyLogo{
    display: flex;
    align-items: center;
}

.companyLogo img:first-child{
    margin-right: .5rem;
    margin-bottom: .2rem;
}

.link ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}


.link ul li{
    margin-right: 36px;
}

.link ul li:last-child{
    display: none;
}

.link ul li a{
    text-decoration: none;
    color: #475569;
    font-size: 16px;
}

.contact{
    display: flex;
    align-items: center;
}

.contact a {
    text-decoration: none;
}

.mode{
    cursor: pointer;
    margin-right: 1.5rem;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
}

.darkMode{
    font-size: 20px;
    color: #3A3A3A;
}

.contact button{
    height: 45px;
    width: 160px;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 100px;
    align-items: center;
    transition: transform .20s ease;
    background-color: #5044E5;
    cursor: pointer;
}

.contact button:hover{
    transform: scale(1.1);
}

.contact button span{
    color: #fff;
    display: inline-block;
    margin-right: .5rem;
    font-size: 16px;
}

.arrow{
    color: #fff;
    font-size: 16px;
}

.crossIcon{
    position: absolute;
    top:100px;
    right:20px;
    font-size:30px;
    color: #cc0000;
    cursor: pointer;
    display: none;
}

.menuIcon{
    font-size:30px;
    display: none;
    cursor: pointer;
    margin-left: .6rem;
    color: #333 !important;
}

@media screen and (max-width:550px) {
    
    .companyLogo img:first-child {
        width: 40px;
        object-fit: contain;
    }
}

@media screen and (max-width:900px) {
    
    .contact button{
       display: none;
    }
    .menuIcon,
    .crossIcon{
        display: block;
    }

    .link{
        position: absolute;
        top:350px;
        left: 50%;
        z-index: 999;
        height: 100vh;
        width:100%;
        backdrop-filter: blur(5px);
        display:none;
        /* align-items: center; */
        justify-content: center;
        transform: translate(-50%,-50%);
    }

    .link ul {
        box-shadow: 0 0 10px #33333317; 
        background-color: rgb(255, 255, 255); 
        height:200px;
        overflow: hidden;
        width: 80%;
        border-radius:15px;
        margin: 0 auto;
        padding: 2rem 1rem;
        display: inline-block;
        margin-top: 10rem !important;
        transition: height 5s ease;
    }

    .link ul li{
        margin-bottom:1rem;
    }

    .link ul li:last-child{
        margin-bottom:0 !important;
    }
}

.linksShow{
    display: flex;
}
