.teamcontent{
    margin: 12rem auto;
    text-align: center;
    max-width: 1300px;
}

.teamcontent h2 {
    font-size: 36px;
    font-weight: 550;
    margin: 1rem 0;
    color:  #3B3B3B;
}

.teamcontent p{
    color:  #8A8E9B;
    font-size: 16px;
}

.teamGrid{
    display: grid;
    max-width: 1200px;
    margin: 5rem auto;
    row-gap: 30px;
    column-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}

.teamGrid > div {
    display: flex;
    align-items: center;
    padding:1rem 2rem;
    background-color: #fff;
    border-radius:8px;
    box-shadow: 0 0 10px #bbbbbb36;
}

.teamGrid div img{
    height: 40px;
    margin-right: 1rem;
    min-width: 40px;
    object-fit: contain;
}

.teamGrid div div {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.teamGrid div div p:first-child {
    color: #3B3B3B;
    font-weight: 550;
    margin-bottom: .3rem;
}
.teamGrid div div p:last-child {
    font-size: 12px;
}

@media screen and (max-width:1200px){
    
    .teamGrid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:992px){
    
    .teamGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}