
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    overflow-x: hidden !important;
    font-family: "Manrope", sans-serif;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
}
